Project/SHWETHA A/Sprint-4/IBM_DEPLOYMENT_AUTO_AI_SERVICE(NODE_RED_APPLICATION)/flows_NODE_RED.json
[
    {
        "id": "de0a8485ef9a3c15",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55f109b6b1011b74",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "4d4ed434a7752134",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variables for form node",
        "func": "global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Gender\", msg.payload.Gender)\nglobal.set(\"Total_Bilirubin\", msg.payload.Total_Bilirubin)\nglobal.set(\"Direct_Bilirubin\", msg.payload.Direct_Bilirubin)\nglobal.set(\"Alkaline_Phosphotase\", msg.payload.Alkaline_Phosphotase)\nglobal.set(\"Alamine_Aminotransferase\", msg.payload.Alamine_Aminotransferase)\nglobal.set(\"Aspartate_Aminotransferase\", msg.payload.Aspartate_Aminotransferase)\nglobal.set(\"Total_Protiens\", msg.payload.Total_Protiens)\nglobal.set(\"Albumin\", msg.payload.Albumin)\nglobal.set(\"Albumin_and_Globulin_Ratio\", msg.payload.Albumin_and_Globulin_Ratio)\nvar apikey =\"JjWsna17BmupZo8UDH6B7KMH1fwgkcjmkK9HY6tu7QD7\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "aef41b519028ddfa"
            ]
        ]
    },
    {
        "id": "aef41b519028ddfa",
        "type": "http request",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 100,
        "wires": [
            [
                "28de7df8e8de0eb2",
                "6dd604c45aff9c31"
            ]
        ]
    },
    {
        "id": "28de7df8e8de0eb2",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "6dd604c45aff9c31",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "pre prediction",
        "func": "var Age = global.get(\"Age\")\nvar Gender = global.get(\"Gender\")\nvar Total_Bilirubin = global.get(\"Total_Bilirubin\")\nvar Direct_Bilirubin = global.get(\"Direct_Bilirubin\")\nvar Alkaline_Phosphotase = global.get(\"Alkaline_Phosphotase\")\nvar Alamine_Aminotransferase = global.get(\"Alamine_Aminotransferase\")\nvar Aspartate_Aminotransferase = global.get(\"Aspartate_Aminotransferase\")\nvar Total_Protiens = global.get(\"Total_Protiens\")\nvar Albumin = global.get(\"Albumin\")\nvar Albumin_and_Globulin_Ratio = global.get(\"Albumin_and_Globulin_Ratio\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload = { \"input_data\": [{ \"fields\": [[\"Age\", \"Gender\", \"Total_Bilirubin\", \"Direct_Bilirubin\", \"Alkaline_Phosphotase\", \"Alamine_Aminotransferase\", \"Aspartate_Aminotransferase\", \"Total_Protiens\", \"Albumin, Albumin_and_Globulin_Ratio\"]], \"values\": [[Age, Gender, Total_Bilirubin, Direct_Bilirubin, Alkaline_Phosphotase, Alamine_Aminotransferase, Aspartate_Aminotransferase, Total_Protiens, Albumin, Albumin_and_Globulin_Ratio]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "3d75859997da8ac6"
            ]
        ]
    },
    {
        "id": "3d75859997da8ac6",
        "type": "http request",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://us-south.ml.cloud.ibm.com/ml/v4/deployments/63caf167-0117-4193-ab5b-7bc13ac857b7/predictions?version=2022-11-15",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 240,
        "wires": [
            [
                "29da0b329990e295",
                "5c1731d1badb6a17"
            ]
        ]
    },
    {
        "id": "29da0b329990e295",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "5c1731d1badb6a17",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "d6b30661358b08fe",
                "e6096c963cc71544"
            ]
        ]
    },
    {
        "id": "d6b30661358b08fe",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "0dd56bbf0838d159",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "",
        "group": "d310fb2826dd713f",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Age",
                "value": "Age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Gender",
                "value": "Male(1)/Female(0)",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total_Bilirubin",
                "value": "Total_Bilirubin",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Direct_Bilirubin",
                "value": "Direct_Bilirubin",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alkaline_Phosphotase",
                "value": "Alkaline_Phosphotase",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alamine_Aminotransferase",
                "value": "Alamine_Aminotransferase",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Aspartate_Aminotransferase",
                "value": "Aspartate_Aminotransferase",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total_Protiens",
                "value": "Total_Protiens",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Albumin",
                "value": "Albumin",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Albumin_and_Globulin_Ratio",
                "value": "Albumin_and_Globulin_Ratio",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Age": "",
            "Male(1)/Female(0)": "",
            "Total_Bilirubin": "",
            "Direct_Bilirubin": "",
            "Alkaline_Phosphotase": "",
            "Alamine_Aminotransferase": "",
            "Aspartate_Aminotransferase": "",
            "Total_Protiens": "",
            "Albumin": "",
            "Albumin_and_Globulin_Ratio": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "55f109b6b1011b74",
                "4d4ed434a7752134"
            ]
        ]
    },
    {
        "id": "4d96238a417c52ad",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 720,
        "wires": []
    },
    {
        "id": "ff6306cc7bb40eb2",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Alkaline_Phosphotase ",
        "func": "global.set(\"Alkaline_Phosphotase\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "ac2b7d294399baa3",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 880,
        "wires": []
    },
    {
        "id": "048faf24678fb4a9",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Alamine_Aminotransferase",
        "func": "global.set(\"Alamine_Aminotransferase\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "3c1d978355a57537",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1000,
        "wires": []
    },
    {
        "id": "092ffdbeb251a26b",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Aspartate_Aminotransferase",
        "func": "global.set(\"Aspartate_Aminotransferase\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "63ede46742f9acb7",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9ccdf0ada7fac364",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Total_Protiens",
        "func": "global.set(\"Total_Protiens\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "acd5a184eede8ff5",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5f7f9ee93d897200",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Albumin",
        "func": "global.set(\"Albumin\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "c80870f2d285d3eb",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3e653ae8228253d7",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Albumin",
        "func": "global.set(\"Albumin_and_Globulin_Ratio\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "3cbe9b0e9f92df51",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Alkaline_Phosphotase",
        "group": "cd7a498b567da26b",
        "order": 11,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Alkaline_Phosphotase",
                "value": "Alkaline_Phosphotase",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Alkaline_Phosphotase": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "4d96238a417c52ad",
                "ff6306cc7bb40eb2"
            ]
        ]
    },
    {
        "id": "d761d637e4c56cbc",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Alamine_Aminotransferase",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Alamine_Aminotransferase",
                "value": "Alamine_Aminotransferase",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Alamine_Aminotransferase": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 220,
        "y": 900,
        "wires": [
            [
                "ac2b7d294399baa3",
                "048faf24678fb4a9"
            ]
        ]
    },
    {
        "id": "4c100d2958ced9fc",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Aspartate_Aminotransferase",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Aspartate_Aminotransferase",
                "value": "Aspartate_Aminotransferase",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Aspartate_Aminotransferase": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 220,
        "y": 1040,
        "wires": [
            [
                "3c1d978355a57537",
                "092ffdbeb251a26b"
            ]
        ]
    },
    {
        "id": "abba672f341d2318",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Total_Protiens",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Total_Protiens",
                "value": "Total_Protiens",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Total_Protiens": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 200,
        "y": 1160,
        "wires": [
            [
                "63ede46742f9acb7",
                "9ccdf0ada7fac364"
            ]
        ]
    },
    {
        "id": "acd86a6eb1a0dd7c",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Albumin",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Albumin",
                "value": "Albumin",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Albumin": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 240,
        "y": 1280,
        "wires": [
            [
                "acd5a184eede8ff5",
                "5f7f9ee93d897200"
            ]
        ]
    },
    {
        "id": "35a5eb51902ba3f3",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": " Albumin_and_Globulin_Ratio",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": " Albumin_and_Globulin_Ratio",
                "value": " Albumin_and_Globulin_Ratio",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            " Albumin_and_Globulin_Ratio": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 280,
        "y": 1400,
        "wires": [
            [
                "c80870f2d285d3eb",
                "3e653ae8228253d7"
            ]
        ]
    },
    {
        "id": "e6096c963cc71544",
        "type": "ui_text",
        "z": "de0a8485ef9a3c15",
        "group": "cd7a498b567da26b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "The premium will be",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "939df35bc74ef920",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Total_Bilirubin",
        "func": "global.set(\"Total_Bilirubin\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d730030547ba82ab",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable forDirect_Bilirubin",
        "func": "global.set(\"Direct_Bilirubin\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e63d0f4c5a8ac5bc",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "c8b2edb9a972f0e7",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Gender",
        "func": "global.set(\"Gender\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4d86f4b3fab5ab36",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "0fdd4314dc716908",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Direct_Bilirubin",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Direct_Bilirubin",
                "value": "Direct_Bilirubin",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Direct_Bilirubin": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "4d86f4b3fab5ab36",
                "d730030547ba82ab"
            ]
        ]
    },
    {
        "id": "a6675660c2c68e21",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "fe7b2bfc46613276",
        "type": "debug",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "26108cac9cee5e7c",
        "type": "function",
        "z": "de0a8485ef9a3c15",
        "name": "global variable for Age",
        "func": "global.set(\"Age\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6af984e084678d2d",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Age",
        "group": "cd7a498b567da26b",
        "order": 11,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Age",
                "value": "Age",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Age": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "a6675660c2c68e21",
                "26108cac9cee5e7c"
            ]
        ]
    },
    {
        "id": "72a91c75996043bb",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Gender",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Gender",
                "value": "Male(1)/Female(0)",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Male(1)/Female(0)": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "fe7b2bfc46613276",
                "c8b2edb9a972f0e7"
            ]
        ]
    },
    {
        "id": "84b3ef2a1d8c112c",
        "type": "ui_form",
        "z": "de0a8485ef9a3c15",
        "name": "",
        "label": "Total_Bilirubin",
        "group": "cd7a498b567da26b",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Total_Bilirubin",
                "value": "Total_Bilirubin",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Total_Bilirubin": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "e63d0f4c5a8ac5bc",
                "939df35bc74ef920"
            ]
        ]
    },
    {
        "id": "d310fb2826dd713f",
        "type": "ui_group",
        "name": "LIVER_DISEASE_PREDICTOR",
        "tab": "b98bd2f443e21f5e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cd7a498b567da26b",
        "type": "ui_group",
        "name": "LIVER_DISEASE_PREDICTION",
        "tab": "576bbad419c5b588",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b98bd2f443e21f5e",
        "type": "ui_tab",
        "name": "LIVER_DISEASE_PREDICTOR",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]